/* -----------------------------------------------------
 * waybar 
 * ----------------------------------------------------- */

 * {
    font-family: "Noto Sans Regular";
    border: none;
}

window#waybar {
    background: transparent;
    color: #ffffff;
    opacity: 0.9;
}
#workspaces {
    background-color: #2d2c2c;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 19px;
    padding: 2px 14px 2px 14px;
    border-radius: 12px;
    transition: 300ms all;
}

#workspaces button.urgent {
    background-color: #550000;
}
#workspaces button:hover {
    background-color: rgba(211, 211, 211, 0.25);
    border-radius: 27px;
}
#workspaces button.active {
    color: #ffffff;
}

#custom-appmenu,
#mpris,
#window,
#clock,
#memory,
#cpu,
#temperature,
#network,
#cava,
#tray,
#backlight,
#pulseaudio,
#battery  {
    background-color: #2d2c2c;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 19px;
    padding: 2px 14px 2px 14px;
    border-radius: 12px;
    transition: 300ms all;
}

#mpris {
    padding: 0px 10px 0px 10px;
}

#memory, #cpu {
    padding: 2px 15px 2px 15px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#network.ethernet {
    color: #ffffff;
}

#network.wifi {
    color: #ffffff;
}

#network.disconnected {
    background-color: #f53c3c;
}
#bluetooth.on, #bluetooth.connected {
    color: #ffffff;
}

#bluetooth.off {
    background-color: transparent;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}