/* -----------------------------------------------------
 * waybar 
 * ----------------------------------------------------- */

 * {
    font-family: "Noto Sans Regular";
    border: none;
}

window#waybar {
    background-color: rgba(0,0,0,0.8);
    border-bottom: 0px solid #ffffff;
    border-radius: 13px;
    color: #ffffff; 
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
    opacity: 0.9;
}

#window {
    color:#ffffff;
    font-size:16px;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

#custom-appmenu,
#mpris,
#workspaces,
#window,
#clock,
#custom-ram_cpu,
#temperature,
#network,
#tray,
#backlight,
#pulseaudio,
#battery  {
    background-color: #2d2c2c;
    font-size: 16px;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid white;
    border-radius: 13px;
}

#workspaces button {/*
    padding-left: 15px;
    padding-right: 15px;*/
    margin: 0px 3px;
    border-radius: 13px;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    font-size:13px;
}

#workspaces {
    padding-left: 0px;
    padding-right: 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#network.ethernet {
    color: #ffffff;
}

#network.wifi {
    color: #ffffff;
}

#network.disconnected {
    background-color: #f53c3c;
}

#bluetooth.on, #bluetooth.connected {
    font-size: 16px;
    color: #ffffff;
    border-radius: 13px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
