window {
    margin: 0px;
    background-color: #2c2c2c;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
}

#input {
    margin: 5px;
    border: none;
    color: #000000;
    background-color: rgb(168, 168, 168);
    border-radius: 30px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #2c2c2c;
    border-radius: 30px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #2c2c2c;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #FFFFFF;
} 

#entry:selected {
    background-color: rgb(168, 168, 168);
    border-radius: 20px;
    outline: none;
    color: black;
}

#entry:selected * {
    background-color: rgb(168, 168, 168);
    border-radius: 20px;
    outline: none;
    color: black;
}
